/* Estilos generales */

dialog article footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.error-message {
  color: var(--pico-form-element-invalid-border-color);
  font-size: 0.8em;
  height: 1em;
}

.btn-editar,
.btn-borrar {
  background-color: var(--pico-primary);
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-editar {
  background-color: var(--pico-primary);
}

.btn-editar:hover {
  background-color: var(--pico-primary-hover);
}

.btn-borrar {
  background-color: var(--pico-secondary);
}

.btn-borrar:hover {
  background-color: var(--pico-secondary-hover);
}

#btn-agregar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

article footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

#lista-contactos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

article {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
}

article header {
  margin-bottom: 0.5rem;
}

article p {
  margin-bottom: 0.25rem;
}
