version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./database.db:/app/database.db
      - ./imagenes:/app/imagenes
    restart: unless-stopped
